@font-face {
    font-family: 'dalekpinpoint';
    src:
        url(./assets/fonts/dalekpinpointbold-webfont.woff2) format(woff2),
        url(./assets/fonts/dalekpinpointbold-webfont.woff) format(woff);
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'romanica';
    src:
        url(./assets/fonts/romanica-webfont.woff2) format(woff2),
        url(./assets/fonts/romanica-webfont.woff) format(woff);
        font-weight: normal;
        font-style: normal;
}

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    font-family: 'romanica';
}

p {
    font: 1.2rem 'romanica';
}

img {
    height: 100px;
    width: 100px;
}

.container {
    display: grid;
    grid-template-columns: minmax(270px, 1.3fr)  2fr;
    align-items: center;
    
}

/* Header section */

h1 {
    padding-left: 10px;
    font: 4rem 'dalekpinpoint';
    text-align: center;
    color: #ffffff;
}

.header {
    grid-column: 1/2;
    display: flex;
    align-items: flex-start;
    background: url(./assets/images/thinker.png);
    height: 100%;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    margin-top: 10rem;
    background: rgb(0 0 0 / 40%);
}

/* Form section */

.form-area {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.form-text {
    padding: 0px 250px 10px 30px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 100%;
    padding-left: 30px;
}

.form-column {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 460px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 150px;
}

input,
select,
.error-msg {
    margin-left: 5px;
    width: 250px;
    font: 1rem 'romanica';
    border-radius: 5px;
}

input,
select {
    padding: 0px 5px;
    margin: 8px 5px;
    height: 2rem;
    outline: none;
    border: 1px solid hsl(0, 0%, 90%);
}

.error-msg {
    padding: 2px 5px;
    margin-bottom: 12px;
    display: none;
    border: 2px solid #900;
}

label {
    margin-top: 4px;
    font: .9rem 'romanica';
    text-transform: uppercase;
    letter-spacing: .15rem;
}

input:focus {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    background: hsl(0, 0%, 99%);
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-left: 30px;
    padding-top: 10px;
    box-shadow: 2px -4px 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 40px;
    font: bold 1.1rem 'romanica';
    letter-spacing: .03rem;
    border-radius: 9px;
    border: hsl(10, 70%, 50%);
    background-color: hsl(10, 70%, 62%);
    cursor: pointer;
}

a {
    color: hsl(10, 70%, 62%);
    text-decoration: none;
    font-weight: bold;
}

input:invalid {
    background-color: #fdd;
}