@font-face {
    font-family: 'dalekpinpoint';
    src:
        url(./assets/fonts/dalekpinpointbold-webfont.woff2) format(woff2),
        url(./assets/fonts/dalekpinpointbold-webfont.woff) format(woff);
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'romanica';
    src:
        url(./assets/fonts/romanica-webfont.woff2) format(woff2),
        url(./assets/fonts/romanica-webfont.woff) format(woff);
        font-weight: normal;
        font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* General */

img {
    height: 200px;
    width: 200px;
}

.container {
    display: grid;
    grid-template-columns: minmax(270px, 1.1fr)  2fr;
    align-items: center;
    
}

/* Header section */

.header {
    grid-column: 1/2;
}

/* Form section */

.form-area {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.form-container {
    
}

.form-row {
    display: flex;
    
}

.form-column {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 460px;
    
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 150px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-top: 30px;
    font: 1.2rem 'romanica';
}

button {
    font: 1.1rem 'romanica';
}

input,
select,
.error-msg {
    margin-left: 5px;
    width: 350px;
    font: 1rem 'romanica';
    border-radius: 5px;
}

input,
select {
    padding: 0px 5px;
    margin: 8px 5px;
    height: 2rem;
    outline: none;
    border: 1px solid hsl(0, 0%, 90%);
}

.error-msg {
    padding: 2px 5px;
    margin-bottom: 12px;
    display: none;
    border: 2px solid #900;
}

label {
    margin-top: 4px;
    font: .9rem 'romanica';
    text-transform: uppercase;
    letter-spacing: .15rem;
}

input:focus {
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    background: hsl(0, 0%, 99%);
}



/* input:invalid {
    background-color: #fdd;
} */